@mixin color-texto-fondo {
    color: $color_texto;
    background-color: $color_fondo;
}

@mixin color-texto-fondo-hover {
    color: $color_texto_hover;
    background-color: $color_fondo_hover;
}

@mixin tamaño-caja($valor) {
    box-sizing: $valor;
}

@mixin transiciones($propiedad, $duracion, $timing: linear) {
    transition-property: $propiedad;
    transition-duration: $duracion;
    transition-timing-function: $timing;
}

@mixin animaciones($nombre, $duracion, $timing: linear) {
    animation-name: $nombre;
    animation-duration: $duracion;
    animation-timing-function: $timing;
}

@mixin responsive($size) {
    @if $size == "medium" {
        @media (max-width: 1024px) {
            @content
        }
    } @else if $size == "small" {
        @media (max-width: 800px) {
            @content
        }
    }
}