section {
	margin: 30px;
}

.container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.container2 {
	width: 100%;
}

.box {
	width: 100%;
	min-height: 100px;
}

.box--blue {
	background-color: blue;
	width: 100%;
}

.box--green {
	background-color: green;
	width: 100%;
}

.box--yellow {
	background-color: yellow;
	width: 100%;
}

.box--red {
	background-color: red;
	width: 100%;
}


/* Primer ejercicio */

@media (max-width: 900px) {
	.ejercicio1 .box--blue {
		width: 50%;
	}

	.ejercicio1 .box--green {
		width: 50%;
	}
}

@media (max-width: 450px) {
	.ejercicio1 .box--blue {
		width: 25%;
	}

	.ejercicio1 .box--green {
		width: 50%;
	}

	.ejercicio1 .box--yellow {
		width: 25%
	}
}

/* Segundo ejercicio */

@media (min-width: 500px) {
	.ejercicio2 .box--blue {
		width: 50%;
	}

	.container2 {
		width: 50%
	}
}

@media (min-width: 1000px) {
	.ejercicio2 .box--blue {
		width: 25%;
		order: 1;
	}

	.container2 {
		width: 50%
	}

	.ejercicio2 .box--red {
		width: 25%;
		order: -1;
	}
}

/* Tercer ejercicio */

table {
	width: 100%;
	border: 1px solid grey;
}

tr {
	width: 100%;
}

th {
	border: 1px solid grey;
	width: 100%;
}

td {
	width: 100%;
	border: 1px solid grey;
}

@media (max-width: 500px) {
	td, th {
		display: block;
	}
}