$color-naranja: #FF8000;
$color-azulillo: #2E5F64;

div#primero .destacado {
    color: $color-naranja;
    font-size: 1.6rem;
    text-align: center;
    padding: 6px;
}

div#segundo .destacado {
    color: $color-azulillo;
    font-size: 1.4rem;
    padding: 5px;
    text-decoration: underline;
}

div {
    padding: 20px;
}

div#parrafos {
    text-align: right;
}